.screen {
	width: 95%;
}

.container {
	display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  justify-items: center;
  height: ;
}

.title {
	width: 48%;
	font-family: "Courier New", Arial, sans-serif;
	font-style: oblique;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 40px;
	color: #990000;
	padding: 0px;
}

#title_vrsta {
	float:left;
}

#title_jedilnica {
	float: right;
}

#feed_vrsta {
	float:left;
}
#feed_jedilnica {
	float: right;
}

#video {
	border: 12px solid yellow;
	height: 100%;
}

body {
	background-image: url(background.jpg)
}
header {
	padding: 2px;
}

h1 {
	font-family: "Courier New", Arial, sans-serif;
	font-style: oblique;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 55px;
	color: #990000;
	text-align: center;
	vertical-align: top;
	text-shadow: 3px 3px 3px #555;
}

img {
	border-width: 6px;
	border-color: #990000;
	border-style: solid;
	padding: 0px;
	border-radius: 20px;
	background-color: white;
}

ul {
	border: 12px solid yellow;
	position: relative;
}
